DISCORD_TOKEN=EXAMPLEasdfafeadfaeada362173913r3rEXAMPLE
GUILD_ID=EXAMPLEasdfafeadfaeada362173913r3rEXAMPLE
CLIENT_ID=EXAMPLEasdfafeadfaeada362173913r3rEXAMPLE
CLIENT_SECRET=EXAMPLEasdfafeadfaeada362173913r3rEXAMPLE
CHANNEL_ID=EXAMPLEasdfafeadfaeada362173913r3rEXAMPLE
PLEX_TOKEN=EXAMPLEasdfafeadfaeada362173913r3rEXAMPLE
PLEX_URL='http://ip.address.here:porthere/?X-Plex-Token=PLEXTOKENHERE'